body{
	font: 14px/1.5 tahoma,microsoft yahei,simsun,sans-serif;
}
a{
	text-decoration: none;
}
.login {
    /*position: absolute;*/
    right: 50px;
    top: 35px;
    color: #939393;
     position: relative;
    float:left;
    
}
.login p{
	font-size:14.8px;
	float:left;
}
.login a{
	text-decoration:none;
	color:white;
	font-size:14.8px;
	float:left;
}
 .bg_list {
    position: relative;
    top:645px;
    width: 100%;
    height: 79px;
    z-index: 10;
    background: url(//game.gtimg.cn/images/yxzj/match/kpl/kpl0917/nav.png) center 0 no-repeat;
}
.bg_list ul {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}
.bg_list ul li {
    /*display: inline-block;
    vertical-align: top;*/
    position: relative;
    width: 200px;
    height: 79px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.bg_list ul li a {
    width: 200px;
    height: 78px;
    position: relative;
    font-size: 26px;
    display: table-cell;
    color: #afc9e3;
    vertical-align: middle;
    z-index: 999999;
    text-align: center;
    text-decoration: none;
}
.bg_min {
    width: 100%;
    font-size: 12px;
    color: #afc9e3;
    display: block;
    line-height: 1;
    font-weight: 500;
}
.content{
	background: #f8f8f8;
	width:100%;
	height: 1840px;
}
.content_1{
	/*float:left;*/
	width: 100%;
	display:flex;
	flex-direction:column; 
	background-color: #efefef;
	/*margin:0 auto ;*/
}
.content_top{
	/*height: 55px;*/
    background-color: #efefef;
    margin:0 auto ;
}
.sertion{
	position: relative;
	width: 1250px;
	margin:0 auto ; 
	/*float:left;*/
	align-self:center;
	height: 55px;
    background-color: #efefef;
}
.news_lie {
    color: #a3a3a3;
    font-size: 14px;
    padding: 15px 0 30px;
    /*margin-left:110px;*/
	  
}
.news_lie a {
    color: #000;
    
    text-decoration: none;
}
.news_lie span{
	margin: 0 0 0 10px;
}
.content_2{
	margin: 0 auto;
	
	/*position: relative;*/
	/*float:left;*/
	/*width:100%;*/
	/*background: #f8f8f8;*/
}
.imp{

    width: 1245px;
    margin: 0 auto ;
    
    background: #f8f8f8;
    /*float:left;*/
    
    
}
.shipin_bg{
	margin: 0 auto;
}		
.imp_table{
	height: 60px;
    border-bottom: 4px solid #e9e9ea;
}	
.imp_table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.imp_table>ul>li{
	border-bottom: 4px solid #a9152b;
	height: 60px;
    width: 204px;
    text-align:center;
}
.imp_table>ul>li>a {
    color: #a9152b;
    font-size: 16px;
    display: block;
    font-size:16px;
    text-decoration: none;
    padding-top:20px;
}
.imp_bd{
	padding: 25px 0 0 0px;
	margin:0 auto;
	
}
.imp_table2{
	zoom: 1;
	background: #f8f8f8;
	width:100%;
	float:left;
}
.xzss {
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    width: 83px;
    color: #545454;
    float:left;
    
}
.imp_table2>a{
	float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #ececec;
    border: solid 2px #ececec;
    color: #999999;
    cursor: pointer;
    /*-moz-border-radius: 18px;
    -webkit-border-radius: 18px;*/
    -khtml-border-radius: 18px;
    border-radius: 18px;
    margin: 0 12px 12px 0px;
    text-decoration: none;
}
.imp_table3{
	zoom: 1;
	background: #f8f8f8;
	width:100%;
	float:left;
	margin-bottom: 40px;
}
.imp_table3>a{
	float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #ececec;
    border: solid 2px #ececec;
    color: #999999;
    cursor: pointer;
    /*-moz-border-radius: 18px;
    -webkit-border-radius: 18px;*/
    -khtml-border-radius: 18px;
    border-radius: 18px;
    margin: 0 12px 12px 0px;
    text-decoration: none;
}

.imp_table1 a:hover {
    /*text-decoration: none;*/
    border: solid 2px #a9152b;
    color: #a9152b;
    background-color: #fffffd;
}

.video_cen{
	padding: 20px 0 0 0px;
	margin-top:30px;
	/*float:left;*/
    
}
.video_cen img {
    height: 116px;
    width: 234px;
    position: relative;
    display: block;
    
}
.video_cen1{
	list-style: none;  
}
.video_cen1>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}

.video_cen2{
	list-style: none; 
	display:none; 
}
.video_cen2>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen3{
	list-style: none;
	display:none;
}
.video_cen3>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen4{
	list-style: none;  
	display:none;
}
.video_cen4>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen5{
	list-style: none;  
	display:none;
}
.video_cen5>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen6{
	list-style: none;
	display:none;  
}
.video_cen6>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen7{
	list-style: none;
	display:none;  
}
.video_cen7>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen8{
	list-style: none;  
	display:none;
}
.video_cen8>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen9{
	list-style: none;  
	display:none;
}
.video_cen9>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen10{
	list-style: none; 
	display:none; 
}
.video_cen10>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen11{
	list-style: none;  
	display:none;
}
.video_cen11>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen12{
	list-style: none;  
	display:none;
}
.video_cen12>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen13{
	list-style: none; 
	display:none; 
}
.video_cen13>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen14{
	list-style: none; 
	display:none; 
}
.video_cen14>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen15{
	list-style: none;  
	display:none;
}
.video_cen15>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen16{
	list-style: none; 
	display:none; 
}
.video_cen16>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen17{
	list-style: none;  
	display:none;
}
.video_cen17>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen18{
	list-style: none; 
	display:none; 
}
.video_cen18>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen19{
	list-style: none; 
	display:none; 
}
.video_cen19>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen20{
	list-style: none;  
	display:none;
}
.video_cen20>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen21{
	list-style: none; 
	display:none; 
}
.video_cen21>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}
.video_cen22{
	list-style: none;  
	display:none;
}
.video_cen22>li{
	width: 187px;
    border-radius: 5px;
    height: 165px;
    float: left;
    margin: 0 0 35px 24px;
    
}

.v_pic {
    position: relative;
    height: 116px;
    width: 100%;
    display: block;
}
.v_pic>img{
	border-radius: 5px;
}
.v_infor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 162px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 15px;
    color: #8c8c8e;
    /*filter: Alpha(opacity=80);
    opacity: rgba(0,0,0,0.8);*/
    background: rgba(0,0,0,0.8);
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    
}

.v_ico {
    position: absolute;
    left: 2px;
    top: 8px;
    background-position: -190px -100px;
    width: 11px;
    height: 11px;
}
.comm {
    background: url(../img/video_img/commen.png) no-repeat;
    background-position: -190px -100px; 
}
.v_time {
    float: right;
    line-height: 25px;
    color: #8c8c8e;
    font-size: 12px;
}
.v_num {
	line-height: 25px;
	color: #8c8c8e;
	font-size: 12px;
}
.v_tlt{
	text-decoration: none;
	color: #545454;
}
.video_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;
    border-radius: 5px;
    filter: Alpha(opacity=60);
    opacity: rgba(0,0,0,0.6);*/
    background: rgba(0,0,0,0.6);
    display: none;
     /*visibility: hidden; */
    cursor: pointer;
    border-radius: 5px;
}
/*.video_hover:hover{
	visibility: visible ;
}*/
.v_play_ico {
    display: block;
    width: 42px;
    height: 42px;
    margin: 30px auto 0;
    background-position: -210px -90px;
}
.comm1 {
    background: url(../img/video_img/commen.png) no-repeat;
    background-position: -210px -90px; 
}
.sp_page {
    text-align: center;
    margin: 58px 0 0 0px;
}
.sp_page_a {
    padding: 5px 16px;
    border: solid 2px #ececec;
    border-radius: 18px;
    color: #999999;
    background-color: #ececec;
    font-size: 14px;
    margin: 0 5px;
    display:inline-block;
    
}
.a_on{
	background:none;
}
.sp_page span {
    background: none;
    font-size: 14px;
    margin: 0 5px;
    color: #999999;
}
/*.sp_footer {
    position: relative;
    z-index: 2;
    height: 362px;
    background: url(../img/video_img/bg_footer.jpg) no-repeat center 0;
}
.sp_foot{
	    position: relative;
    background: none;
    width: 1200px;
    padding-top: 80px;

}*/
.end{
	    position: relative;
	    z-index: 2;
	    height: 300px;
	    background: url(//game.gtimg.cn/images/yxzj/web201605/top_banner/bg_footer.jpg) no-repeat center 0;
}
.end>.end_foot{
	    color: #000;
		width: 85%;
		height: 260px;
	    font: 12px/20px "微软雅黑","宋体";
	    margin: 0 auto;
	    text-align: left;
}
.end_foot_header{
	    height: 66px;
		width: 100%;
	    padding-bottom: 10px;
		/* background: salmon; */
	    border-bottom: 2px solid #d4d4d4;
}
.end_foot_header>.foot_logo{
	    width: 285px;
	    height: 64px;
		background: saddlebrown;
		float: left;
		display: block;
	    background: url(//game.gtimg.cn/images/yxzj/web201605/main/spr.png) no-repeat;
}
.foot_timi{
	    width: 285px;
	    height: 64px;
	    display: block;
	    float: left;
	    background: url(//game.gtimg.cn/images/yxzj/web201605/main/spr.png) no-repeat -285px 0;
}
.end_left{
	    position: absolute;
	    left: 105px;
	    top: 100px;
	    padding-top: 0;
	    width: 508px;
		height: 200px;
	    font-size: 12px;
	    color: #666;
}.end_left>p{
	margin-bottom: 10px;
}
.ef_1>em{
        font-style: normal;
        margin-right: 12px;
        color: #6d6d6d;	
}
.end_right{
	position: absolute;
	right: 190px;
	top: 100px;
	padding-top: 0;
	width: 508px;
	height: 200px;
	font-size: 12px;
	color: #666;
}
.end_right>p{
	margin-bottom: 5px;
	color: #666666;
}
.end_right>p>a{
	color: #666;
	margin-right: 3px;
	margin-left: 3px;
}
.sp_page a:hover{
	border: solid 2px #a9152b;
    color: #a9152b;
    background-color: #fffffd;
}
.ost_big {
    width: 970px;
    height: 185px;
    padding: 0 3px 3px;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -488px;
    display: none;
}
.gamelist{
			    width: 707px;
			    height: 496px;
			    font-size: 12px;
			    line-height: 1.5;
			    font-family: "Microsoft YaHei", Tahoma, "simsun", sans-serif;
			    color: #333;
			    background: #fafafa;
				position: absolute;
				top:42px;
				right: 20px;
				z-index: 10;
				display: none;
			}
			.gamelist>ul{
				width: 90%;
				height: 90%;
				margin: 0px auto;
			}
			.gamelist>ul>li{
				width:33.3%;
				height: 100%;
				float: left;
			}
			.gamelist>ul>li>h2{
			    font-size: 14px;
			    font-weight: 700;
			    line-height: 40px;
			    margin-bottom: 20px;
				position: relative;
			}
			.gamelist>ul>li>h2>a{
				color: #333;
			}
			.gamelist>ul>li>h2>a::after{
			    content: '';
			    background: url(img/title_sprite.png);
			    width: 30px;
			    height: 30px;
			    top: 5px;
			    right: 35px;
			    position: absolute;
			    opacity: 0.2;
			}
			.list1{
			    margin-bottom: 24px;
			    width: 200px;
			    position: relative;
			}
			.list1>img{
			    position: absolute;
			    width: 200px;
			    height: 90px;
			    top: 0;
			    left: 0;
			    opacity: 0;	
			}
			.list1>p{
			    font-size: 14px;
			    line-height: 24px;
			    padding-left: 22px;	
			}
			.list1>div{
			    position: absolute;
			    width: 100%;
			    height: 28px;
			    text-align: center;
			    background: rgba(0,0,0,0.7);
			    top: 63px;
			    left: 0;
			    display: none;
			}
			.list1>div>a{
			    float: left;
			    width: 50%;
			    font-size: 14px;
			    line-height: 28px;
			    color: #fff;	
			}
			.list1>span{
			    position: absolute;
			    top: 0;
			    left: 0;
			    font-size: 12px;
			    width: 16px;
			    height: 16px;
			    text-align: center;
			    line-height: 16px;
			    color: #fff;
			    background: gainsboro ;
			}
